# Accessing Databases with Python: SQLite

In [2]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
#import psycopg2 # postgres

## Establishing Database Connection

In [2]:
#conn = sqlite3.connect('temp.db')
conn = sqlite3.connect(':memory:')  # create database in-memory only

# Postgres
#conn = psycopg2.connect("dbname='temp1' user='drodriguez' host='localhost' password=''")
#conn.set_session(autocommit=True)

# SQLAlchemy http://docs.sqlalchemy.org/en/latest/core/engines.html
#engine = create_engine('sqlite:///temp2.db')
#engine = create_engine('sqlite://')  # in memory
#engine = create_engine(''mssql+pyodbc://scott:tiger@mydsn'')
#conn = engine.connect()

## Creating Tables

In [3]:
sqltxt = """CREATE TABLE sources (
    source_id int UNIQUE NOT NULL, 
    ra float, 
    dec float, 
    designation varchar(100),
    reference varchar(1024))"""
conn.execute(sqltxt)

## Adding records to table

In [4]:
sqltxt = "INSERT INTO sources (source_id, ra, dec, designation, reference) VALUES (1, 273.54, -32.79, 'V4046 Sgr', NULL)"
conn.execute(sqltxt)

## Getting records from table

In [6]:
sqltxt = "SELECT * FROM sources"
conn.execute(sqltxt).fetchall()

[(1, 273.54, -32.79, 'V4046 Sgr', None)]

In [7]:
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql.html
# Also: https://pandas.pydata.org/pandas-docs/stable/io.html#io-sql
df = pd.read_sql(sqltxt, con=conn)  
df.head()

   source_id      ra    dec designation reference
0          1  273.54 -32.79   V4046 Sgr      None

## Updating records

In [8]:
sqltxt = "UPDATE sources SET reference='Rodriguez+2010'"
conn.execute(sqltxt)

## Using pandas to create table

In [9]:
try:
    conn.execute("DROP TABLE sources")  # delete table
except Exception as e:
    print(e)

In [10]:
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html
df.to_sql('sources', con=conn, index=False)

In [11]:
pd.read_sql("SELECT * FROM sources", con=conn)

   source_id      ra    dec designation reference
0          1  273.54 -32.79   V4046 Sgr      None

In [12]:
conn.execute("SELECT * FROM sources").fetchall()

[(1, 273.54, -32.79, 'V4046 Sgr', None)]

## Close connection

In [13]:
conn.close()